An online bookstore/Θέμα 2/online_bookshop_new.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="online_bookshop">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="author_list">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="author">
                <xs:complexType>
                  <xs:attribute name="author_name" type="xs:string" use="required" />
                  <xs:attribute name="auid" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Book_categories">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="book_category">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="category_id" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Book_secondary_categories">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="secondary_category">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="sub_cat" type="xs:unsignedByte" use="required" />
                      <xs:attribute name="category" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="book_list">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="book">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="book_titles_info">
                      <xs:complexType>
                        <xs:attribute name="title" type="xs:string" use="required" />
                        <xs:attribute name="subtitle" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="authors">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element name="other_partners">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Illustration" type="xs:string" />
                                <xs:element minOccurs="0" name="Translation" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="author_id" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ISBN" type="xs:unsignedLong" />
                    <xs:element name="book_descr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="description" type="xs:string" />
                          <xs:element minOccurs="0" name="for_ages" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="book_characteristics">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dimensions">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="unit" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="publisher">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="publisher_year" type="xs:unsignedShort" use="required" />
                                  <xs:attribute name="publishing_country" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="pages" type="xs:unsignedShort" />
                          <xs:element minOccurs="0" name="weight">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="w_unit" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="language" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="cost_information">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="start_value">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="currency" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="end_value">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="with_discount" type="xs:string" use="required" />
                                  <xs:attribute name="percent_of_discount" type="xs:string" use="optional" />
                                  <xs:attribute name="currency" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="other_information">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="diathesimotita">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="apostoli_se" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="book_id" type="xs:string" use="required" />
                  <xs:attribute name="category" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="contact_details">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address" type="xs:string" />
              <xs:element name="tel" type="xs:string" />
              <xs:element name="email" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>